{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style3.css' %}">

    <title>Login</title>
</head>

<body>
    {% include 'Reservas/header.html' %}

    <div class="container">
        <form action="" method="post">
            {% csrf_token %} {% for field in form %}

            <div class="loginMeio">
            <p id="login">
                {{ field.label }}: <br />
                {{ field }}
            </p>
        </div>
            {% endfor %}

            <button type="submit">
                Entrar
            </button>
        </form>
    </div>
    {% include 'Reservas/footer.html' %}

</body>

</html>