<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
</head>

<body>

    <div class="container">
        <p>
        <h1 id="titulo">Entre com seu apartamento e senha</h1>
        </p>
        <form action="" method="post">
            {% csrf_token %} {% for field in form %}
            <p>
                {{ field.label }}: <br />
                {{ field }}
            </p>
            {% endfor %}

            <button type="submit">
                Entrar
            </button> 
        </form>
    </div>

</body>

</html>