{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style.css' %}">
</head>

<body>

    {% include 'Reservas/header.html' %}

    <div class="container">
        <h1>Excluir Reserva</h1>

        <form method="POST">
            {% csrf_token %}
            Confirma a remoção de {{ reserva }}?<br>
            <button>
                <a href="{% url 'reserva:lista-reservas' %}" style="text-decoration: none; color: black;">Cancela</a>
            </button>
            <input type="submit" value="Remove">

        </form>
    </div>

    {% include 'Reservas/footer.html' %}

</body>

</html>