{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style3.css' %}">
    <script src="{% static 'Reservas/javascript/script.js'  %}" ></script>
</head>

<body>

    {% include 'Reservas/header.html' %}

    <div class="container">

        <h1 id="titulo">Lista de Reservas</h1>

        <table>
            <tr><th>Motivo da reserva</th><th>Data da Reserva</th><th>Ações disponíveis</th></tr>

            {% for reserva in reservas %}
            <tr id="lista">
                <td>{{ reserva.obs }}</td>
                <td >{{reserva.dataReserva }}</td>
                <td >
                    <a href="{% url 'Reservas:atualiza-reservas' pk=reserva.id %}">Atualizar</a> |
                    <a href="{% url 'Reservas:apaga-reservas' pk=reserva.id %}">Excluir</a>
                </td>               
            </tr>
            {% empty %}
            <tr><th colspan="3">Ainda não tem contatos cadastrados</th></tr>
            {% endfor %}
        </table>
        <button>
            <a href="{% url 'Reservas:cria-reservas' %}" style="text-decoration: none; color: white;">Realizar reserva</a>
        </button>
        <button onclick="mostrarLista()" id="botaoLista">Exibir lista</button>
        
    </div>

    {% include 'Reservas/footer.html' %}


</body>

</html>