{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style.css' %}">
</head>

<body>

    {% include 'Reservas/header.html' %}

    <div class="container">

        <h1>Lista de Reservas</h1>

        <table>
            <tr><th>Motivo da reserva</th><th>Data da Reserva</th><th>Ações disponíveis</th></tr>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.obs }}</td>
                <td>{{reserva.dataReserva }}</td>
                <td>
                    <a href="{% url 'Reservas:atualiza-reservas' pk=reserva.id %}">Atualizar</a>|
                    <a href="{% url 'Reservas:apaga-reservas' pk=reserva.id %}">Excluir</a>
                </td>               
            </tr>
            {% empty %}
            <tr><th colspan="5">Ainda não tem contatos cadastrados</th></tr>
            {% endfor %}
        </table>           

    </div>

    {% include 'Reservas/footer.html' %}


</body>

</html>