{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style.css' %}">
</head>

<body>

    {% include 'Reservas/header.html' %}

    <div class="container">
        <h1>Faça uma Reserva</h1>

        <form action="" method="POST">
            <fieldset style="width: max-content;">
                <legend>Realize sua reserva</legend>
                {% csrf_token %}
                <table class='formulario'>
                    {{ formulario.as_table }}
                </table>
                <button type="submit">Cria Reserva</button>
            </fieldset>
        </form>
    </div>

    {% include 'Reservas/footer.html' %}

</body>

</html>