{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Reservas/css/style3.css' %}">
    <link rel="stylesheet" href="{% static 'Reservas/css/styleInserirReserva.css' %}">
</head>

<body>

    {% include 'Reservas/header.html' %}

    <div class="container">
        <h1 id="titulo">Faça uma Reserva</h1>

        <form action="" method="POST">
                {% csrf_token %}
                <table class='formulario'>
                    {{ formulario.as_table }}
                </table>

            
            <button type="submit">Confirmar</button>
            <button>
                <a href="{% url 'Reservas:lista-reservas' %}" style="text-decoration: none; color: white;">Cancelar</a>
            </button>

        </form>
    </div>

    {% include 'Reservas/footer.html' %}

</body>

</html>