* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 50%;
    position: absolute;
    transform: translate(50%, 20%);

}

#titulo {
    text-align: center;
    color: rgb(205, 92, 92);
    margin: 10px;
}

td,
th {
    padding: .7em;
    margin: 0;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: bold;

}

th {
    background-color: rgb(205, 92, 92);
    color: white;
}

table{
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    text-align: center;
    border: 1px solid #ddd;

}

.header {
    padding: 10px;
    text-align: center;
    background: rgb(205, 92, 92);
    color: white;
    font-size: 15px;
}

input[type=submit],button {
    background-color: rgb(205, 92, 92);
    font-weight: bold;
    color: white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-right:5px ;
  }

#perguntaRemocao{
    color: black;
    text-align: center;
}

#imagemAgendamento {
    left: 30px;
    width: 80px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(205, 92, 92);
    color: white;
    text-align: center;
    height: 300px;
    font-weight: bold;
}

#tituloFooter {
    padding: 10px;
}

.local {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}