* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    padding: 10px;
    text-align: center;
    background: rgb(205,92,92);
    color: white;
    font-size: 15px;
}

#imagemAgendamento{
    left: 30px;
    width: 80px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:  rgb(205,92,92);
    color: white;
    text-align: center;
    height: 300px;
 }

 #tituloFooter{
    padding: 10px;
}
 .local{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }